

.nav-bar {
    background: #404040;
    width: 100%;
    padding-top: 10px;
    height: 40px;
    position: fixed;
    top:0;
}

.nav-site-logo {
    display: inline-block;
    color: white;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-search-bar {
    display: inline-block;
    color: white;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-login {
    display: inline-block;
    color: white;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-logout {
    display: inline-block;
    color: white;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-account-details {
    display: inline-block;
    color: white;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-cart {
    display: inline-block;
    color: white;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-cart .cart-icon {
    color: white;
    font-size: 20px;
}

.nav-bar a {
    color : white;
    cursor: pointer;
    text-decoration: none;  
}

.nav-logout button {
    font-size: 20px;
    background-color: #404040;
    border : none;
    color: white;
    cursor : pointer;
}

.nav-bar .active {
    color : red;
}

.nav-bar .active .cart-icon{
    color : red;
}

/* ------------------------
__Styling Main Content__
------------------------- */

main {
    margin-top: 100px;
    width:100%;
    text-align: center;
}

.book {
background-color: #d8cccc;
width: 400px;
display: inline-block;
margin : 50px 2%;
}

.book a {
    text-decoration: none;
}



/* input:required {
    background:hsl(180, 50%, 90%);
    border:1px solid #999;
}
input:optional {
    background:hsl(300, 50%, 90%);
    border:1px dotted hsl(180, 50%, 90%);
}
input:valid,
input:in-range {
    background:hsl(120, 50%, 90%);
    border-color:hsl(120, 50%, 50%);
}

input:invalid,
input:out-of-range {
    border-color:hsl(0, 50%, 50%);
    background:hsl(0, 50%, 90%);
} */


/* ------------------------
__Styling Cart Page__
------------------------- */

.cart-table {
   margin: auto;
   width: 50%;
   padding: 10px;
 }

  table, tr {
    border: 1px solid black;
    border-collapse: collapse;
  }



  /* ------------------------
   __Styling Form__
------------------------- */

/* input:required:invalid, input:focus:invalid {
    
    border: solid red 1px;
  }

input:required:valid {
    insert your own styles for valid form input
  } */

  main .form-title {
    font-size: 30px;
    font-style: italic;
    text-align: center;
    color: #000000;
    margin: 0px;
    margin-bottom: 20px;
}

  main form label {
    color : white;
    text-align: left;
  }

  main form input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  main form [type="submit"] {
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  main form [type="submit"]:hover {
    background-color: blue;
  }

  main .register, main .login {
    margin :  120px 30% 0 30%;
    border-radius: 5px;
    background-color: #888888;
    padding: 20px;
  }
  
  /* main .register, main .login {
    margin :  120px 30% 0 30%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  } */